@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500;800&display=swap');

/* smartphones, Android phones, landscape iPhone */ 
@media only screen and (max-width: 480px) 
{
  .appbar{
    padding: 0px 10px;
    justify-content: space-between;
  }
  .tab-container{
    display: none !important;
  }
  .buttonBar{
    display: none;
  }
  .searchBar{
    display: none !important;
  }
  .listButton{
    display: block;
  }
  .title-container{
    justify-content: center;
  }
  .reviewContainer{
    display: flex;
    flex-direction: column;
  }
  
}

@media only screen and (min-width:769px)
{
  .appbar{
    padding: 0px 10px;
    justify-content: space-evenly;
  }
  .listButton{
    display: none;
  }
  .buttonBar{
    display: flex;
  }
  .title-container{
    padding-right: 10px;
    border-right: 1.5px solid #f0f0f0;
  }
  .reviewContainer{
    display: flex;
    flex-direction: row;
  }  
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: 'Sora', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.title-container{
  /* margin-right: 15px; */
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  /* padding-right: 15px; */
  /* border-right: 1.5px solid #f0f0f0; */
}


.title{
  font-size: x-large;
  font-weight: 800;
  text-align: center;
}

.appbar{
  font-family: 'Sora', sans-serif;
  font-weight: 500;
  font-size: 14px;
  /* padding: 0px 20px; */
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: white;
  align-items: center;
  border: 1.5px solid #f0f0f0;
  height: auto;
  min-height: 70px;
}

.tab-container{
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  font-size: 1em;
  flex-grow: 1;
  height: 100%;
  margin: 0px 5px;
}

.tab-container .tab-item:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.tab-item{
  font-size: larger;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.5s;
  cursor: pointer;
}

.searchBar{
  /* padding: 18px 10px; */
  align-items: center;
  margin-left: auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 50px;
  display: flex;
  height: 40px;
}

.searchBar input{
  border:none;
  background: none;
  color: #191919;
  font-size: 15px;
  font-weight: 500;
  height: 100%;
}

/* Button */
.blue-btn{
  background-color: #0057ff;
  color: white;
}

.blue-btn:hover{
  background-color: #003ecb !important;
  color: white;
}

.white-btn{
  background-color: white;
  color: black;
}

.buttonBar{
  text-align: end;
  margin-left: 10px;
}

.button{
  display: flex;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: 100px;
  cursor: pointer;
  line-height: 1;
  padding: 8px 18px;
  margin-left: 5px;
  transition: background-color 0.5s;
}

.buttonBar button:hover{
  background-color: #f1f1f1;
}

input:focus{
  outline: none;
}

.icon{
  cursor: pointer;
}

.topRight{
  width:25px;
  height:25px; 
  margin-right:5px;
}

.listButton{
  /* margin-left: auto; */
  font-size: xx-large;
}

.sidebar{
  z-index: 1;
  height: 100vh;
  background: white;
  width: 80%;
  position: absolute;
  left: 0px;
  margin-left: -80%;
  transition: margin 0.5s;
  overflow: hidden;
  padding: 15px 10px 0px 15px;
}

.listItem{
  padding: 10px 5px;
  border-bottom: 1px solid #e1e1e1;
}

.open{
  margin-left: 0%;
}

.mainScreen{
  flex-grow: 1;
  width: auto;
  background-color: aquamarine;
}

.sidebar .logoContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button2{
    border: 1px solid #e8e8e8;
    border-radius: 100px;
    cursor: pointer;
    padding: 8px 18px;
    transition: background-color 0.5s;
    width: auto;
    margin: 5px 0px;
}

.carousel{
  background-color: white;
  height: auto;
  position: relative;
  overflow: hidden;
  /* border: 10px solid yellow; */
}

.carousel .left{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(0%, -50%);
}

.carousel .right{
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0%, -50%);
}

.carousel .center{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.navigationIcons{
  width: 70px;
  height: auto;
  color: white;
  filter: drop-shadow( 0px 2px 3px rgba(0, 0, 0, 1))
}

.navigationDots{
  margin: 5px;
  width: 20px;
  height: auto;
  color: white;
  filter: drop-shadow( 0px 2px 3px rgba(0, 0, 0, 1));
  transition: color 0.5s;
}

.blueDot{
  color: #0057ff !important;
}

.slide{
  display: flex;
  flex-direction: row;
  transition: transform 0.5s;
  /* height: 70vh; */
}

.banner{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.reviewWrapper{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.review{
  background: white;
  margin: 10px 10px;
  padding: 10px;
  border: 2px solid #e1e1e1e1;
  border-radius: 20px;
}

.reviewText{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
